.App {
  text-align: center;
}

.PaswordEmail {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  padding: 10px;
  margin: 10px;
};

.Email {
  padding: 10px;
  margin: 10px;
  border: green 2px;
};

.pasword {
  padding: 10px;
  margin: 10px;
};
